
:root {
    --main-color: #ef7819;
    --black: #141215;
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.2s linear;
    transition: width none;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--black);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

body {
    background-color: var(--black);
    overflow-x: hidden;
}
